.notification-container {
  position: fixed;
  top: 120px;
  right: 10px;
  width: 300px;
  z-index: 1000;
}

.notification {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

.notification.enter {
  opacity: 0;
}

.notification.enter-active {
  opacity: 1;
}

.notification.exit {
  opacity: 1;
}

.notification.exit-active {
  opacity: 0;
}
